[default]
# no strategy, just defaults
# not setting min automatically to allow manually setting some channels
# min_htlc_msat = 1000
max_htlc_msat_ratio = 0.90

[inbound_only]
# these are channels that we are either setting up to close (we have opened bigger channels)
# or that we are using for rebalance out only
# ACINQ (30M): 916131780004872194
chan.id = 916131780004872194
base_fee_msat = 0
fee_ppm = 0
strategy = disable

# disable channel when route unlikely to fit most HTLCs (< 30,000 sats)
# to prevent draining channel too much, disable when it gets to 5% or lower
# this also will hopefully catch it before the LND pre-0.18 bug of hitting below-reserve limit and force-closing
[very-low-local-balance]
chan.max_local_balance = 30_000
strategy = disable

# set max htlc on all channels (default will not trigger if there is no match on a rule 
# so this rule allows updating this value and propagating)
[max_htlc_all]
chan.min_ratio = 0
strategy = static
max_htlc_msat_ratio = 0.90
