# Cooperative Fee Strategy - v0.1.3 by @Zap-O-Matic
# Charge-LND by @accumulator
# https://github.com/accumulator/charge-lnd
# note that the first rule matched is applied to the channel and further rules are ignored

[default]
strategy = static
fee_ppm = 1984
# allow requests for full channel capacity in a single HTLC
# we can use this information to find out if we should open a bigger channel
# (though failed HTLCs cannot be trusted fully!) -- script to follow
max_htlc_msat_ratio = 1

################################################################################################
# disable channel when route unlikely to fit most HTLCs (< 30,000 sats)
# this also helps avoid the LND < 0.18 force close bug when HTLC dips channel below reserve
# (though this can still happen so watch for LND 0.18!)
################################################################################################
[disable_low_balance]
chan.max_local_balance = 30_000
strategy = disable

################################################################################################
# some channels are not going to participate in the coop network and demand high fees from
# routing nodes. We charge high fees to them and leave their fees static (or in some special
# cases like G-Spot, we may have a 0/0 rate deal with them).
################################################################################################
[ignored_channels]
# 03864ef025fde8fb587d989186ce6a4a186895ee44a926bfc370e2c366597a3f8f: ACINQ
# 033d8656219478701227199cbd6f670335c8d408a92ae88b962c49d4dc0e83e025: bfx-lnd0
# 03cde60a6323f7122d5178255766e38114b4722ede08f7c9e0c5df9b912cc201d6: bfx-lnd1
# 03a1f3afd646d77bdaf545cceaf079bab6057eae52c6319b63b5803d0989d6a72f: Binance
# 026165850492521f4ac8abd9bd8088123446d126f648ca35e60f88177dc149ceb2: Boltz (0/0)
# 02d96eadea3d780104449aca5c93461ce67c1564e2e1d73225fa67dd3b997a6018: Boltz|CLN
# 0378d8b9a46189371ece70870b39e8a80f80f952c967289d7234b99b176577a212: Coherence (uses 1/1 to all)
# 037f990e61acee8a7697966afd29dd88f3b1f8a7b14d625c4f8742bd952003a590: fixedfloat.com
# 03c5528c628681aa17ab9e117aa3ee6f06c750dfb17df758ecabcd68f1567ad8c1: G-Spot-21_69_420 (0/0)
# 02f1a8c87607f415c8f22c00593002775941dea48869ce23096af27b0cfdcc0b69: Kraken
# 0390b5d4492dc2f5318e5233ab2cebf6d48914881a33ef6a9c6bcdbb433ad986d0: LNBϟG [Edge-1]
# 03bc9337c7a28bb784d67742ebedd30a93bacdf7e4ca16436ef3798000242b2251: LNBϟG [Edge-2]
# 03da1c27ca77872ac5b3e568af30673e599a47a5e4497f85c7b5da42048807b3ed: LNBϟG [Edge-3]
# 039edc94987c8f3adc28dab455efc00dea876089a120f573bd0b03c40d9d3fb1e1: LNBϟG [Edge-4]
# 034ea80f8b148c750463546bd999bf7321a0e6dfc60aaf84bd0400a2e8d376c0d5: LNBϟG [Hub-1]
# 033e9ce4e8f0e68f7db49ffb6b9eecc10605f3f3fcb3c630545887749ab515b9c7: LNBϟG [Hub-2]
# 02c91d6aa51aa940608b497b6beebcb1aec05be3c47704b682b3889424679ca490: LNBϟG [Hub-3]
# 021c97a90a411ff2b10dc2a8e32de2f29d2fa49d41bfbb52bd416e460db0747d0d: LOOP 
# 025f1456582e70c4c06b61d5c8ed3ce229e6d0db538be337a2dc6d163b0ebc05a5: Moon (Zap-O-Matic sees high value here at 10/1)
# 037659a0ac8eb3b8d0a720114efc861d3a940382dcfa1403746b4f8f6b2e8810ba: nicehash-ln1
# 036b53093df5a932deac828cca6d663472dbc88322b05eec1d42b26ab9b16caa1c: okcoin
# 0294ac3e099def03c12a37e30fe5364b1223fd60069869142ef96580c8439c2e0a: OKX
# 03037dc08e9ac63b82581f79b662a4d0ceca8a8ca162b1af3551595b8f2d97b70a: River Financial 1
# 03aab7e9327716ee946b8fbfae039b0db85356549e72c5cca113ea67893d0821e5: River Financial 2
node.id = 021c97a90a411ff2b10dc2a8e32de2f29d2fa49d41bfbb52bd416e460db0747d0d,
    03864ef025fde8fb587d989186ce6a4a186895ee44a926bfc370e2c366597a3f8f,
    03a1f3afd646d77bdaf545cceaf079bab6057eae52c6319b63b5803d0989d6a72f,
    037f990e61acee8a7697966afd29dd88f3b1f8a7b14d625c4f8742bd952003a590, 
    0294ac3e099def03c12a37e30fe5364b1223fd60069869142ef96580c8439c2e0a, 
    0390b5d4492dc2f5318e5233ab2cebf6d48914881a33ef6a9c6bcdbb433ad986d0,
    03bc9337c7a28bb784d67742ebedd30a93bacdf7e4ca16436ef3798000242b2251, 
    03da1c27ca77872ac5b3e568af30673e599a47a5e4497f85c7b5da42048807b3ed, 
    039edc94987c8f3adc28dab455efc00dea876089a120f573bd0b03c40d9d3fb1e1,
    034ea80f8b148c750463546bd999bf7321a0e6dfc60aaf84bd0400a2e8d376c0d5,
    033e9ce4e8f0e68f7db49ffb6b9eecc10605f3f3fcb3c630545887749ab515b9c7,
    02c91d6aa51aa940608b497b6beebcb1aec05be3c47704b682b3889424679ca490, 
    037659a0ac8eb3b8d0a720114efc861d3a940382dcfa1403746b4f8f6b2e8810ba,
    033d8656219478701227199cbd6f670335c8d408a92ae88b962c49d4dc0e83e025,
    03cde60a6323f7122d5178255766e38114b4722ede08f7c9e0c5df9b912cc201d6, 
    02f1a8c87607f415c8f22c00593002775941dea48869ce23096af27b0cfdcc0b69, 
    03c5528c628681aa17ab9e117aa3ee6f06c750dfb17df758ecabcd68f1567ad8c1,
    036b53093df5a932deac828cca6d663472dbc88322b05eec1d42b26ab9b16caa1c,
    026165850492521f4ac8abd9bd8088123446d126f648ca35e60f88177dc149ceb2,
    02d96eadea3d780104449aca5c93461ce67c1564e2e1d73225fa67dd3b997a6018,
    025f1456582e70c4c06b61d5c8ed3ce229e6d0db538be337a2dc6d163b0ebc05a5,
    0378d8b9a46189371ece70870b39e8a80f80f952c967289d7234b99b176577a212,
    03037dc08e9ac63b82581f79b662a4d0ceca8a8ca162b1af3551595b8f2d97b70a,
    03aab7e9327716ee946b8fbfae039b0db85356549e72c5cca113ea67893d0821e5
strategy = ignore_fees
max_htlc_msat_ratio = 1

################################################################################################
# Special cases for this node
# some channels are merchants that require high fees to prevent drain
# they always want inbound liquidity available so we want to keep the fee at a static level 
# and rebalance heavily to maintain high outbound
#
# or older magma channels that have a lower threshold for max fee settings
################################################################################################
[merchants]
# hashrootsinc.io
node.id = 03e04f62803231c60a9777888e467cb0351347ff95837a74cbaabc2ebf130f0151
strategy = static
fee_ppm = 2000
max_htlc_msat_ratio = 1

[magma]
# BitcoinJungleCR (max 1500)
# BitCreek (500)
chan.id = 912122960665575425,
    912294484502446081
strategy = ignore_fees
max_htlc_msat_ratio = 1

[closing]
# ACINQ (30M - prep to close)
chan.id = 916131780004872194
strategy = disable

################################################################################################
# high outbound liquidity that has not moved in 14 days
# NOTE: this is a test rule that may go away. Using for testing purposes in v0.1.1
# We have found that setting channels to 108 on this rule can lead to instant rebalancers draining
# as this happened with Kazumyon. We will be testing this rule to see if it is a good idea after some time.
################################################################################################
[high_outbound_no_activity_14d]
# if we have 70%+ of the channel balance
chan.min_ratio = 0.70
chan.max_ratio = 1
chan.activity_period = 14d
# no movement at all outward
chan.max_htlcs_out = 0

strategy = static
# decrease fee to 1/16, minus base fee for 4 hop rebalancing (1984/16 - 16 = 108)
fee_ppm = 108
# allow up to 25% of channel capacity to be sent in a single HTLC
max_htlc_msat_ratio = 0.25


################################################################################################
# high outbound liquidity that has not moved in 7 days
################################################################################################
[high_outbound_no_activity_7d]
# if we have 70%+ of the channel balance
chan.min_ratio = 0.70
chan.max_ratio = 1
chan.activity_period = 7d
# no movement at all outward
chan.max_htlcs_out = 0

strategy = static
# decrease fee to 1/8, minus base fee for 4 hop rebalancing (1984/8 - 8 = 240)
fee_ppm = 240
# allow up to 25% of channel capacity to be sent in a single HTLC
max_htlc_msat_ratio = 0.25


################################################################################################
# high outbound liquidity that has not moved in 5 days
################################################################################################
[high_outbound_no_activity_5d]
# if we have 70%+ of the channel balance
chan.min_ratio = 0.70
chan.max_ratio = 1
chan.activity_period = 5d
# no movement at all outward
chan.max_htlcs_out = 0

strategy = static
# decrease fee to 1/4, minus base fee for 4 hop rebalancing (1984/4 - 4 = 492)
fee_ppm = 492
# allow up to 25% of channel capacity to be sent in a single HTLC
max_htlc_msat_ratio = 0.25


################################################################################################
# high outbound liquidity that has not moved in 3 days
################################################################################################
[high_outbound_no_activity_3d]
# if we have 70%+ of the channel balance
chan.min_ratio = 0.70
chan.max_ratio = 1
chan.activity_period = 3d
# no movement at all outward
chan.max_htlcs_out = 0

strategy = static
# decrease fee to 1/2, minus base fee for 2 hop rebalancing (1984/2 - 2 = 990)
fee_ppm = 990
# allow up to 25% of channel capacity to be sent in a single HTLC
max_htlc_msat_ratio = 0.25

################################################################################################
# defaults for remaining channels
################################################################################################
[all_others]
chan.min_ratio = 0
chan.max_ratio = 0.70
