[default]
# no strategy, just defaults
# not setting min automatically to allow manually setting some channels
# min_htlc_msat = 1000
max_htlc_msat_ratio = 1

#[inbound_only]
# these are channels that we are either setting up to close (we have opened new channels)
# or that we are using for rebalance outward only
# ACINQ (50): 921389644648873986
# ACINQ (75): 933744856867667974
# BFXlnd1: 920804704602816517
#chan.id = 920804704602816517,933744856867667974
#base_fee_msat = 0
#fee_ppm = 0
#strategy = disable

#[high_output]
# allow higher HTLC output sizes
#chan.id = 912346161496719361,916131780004872193,934321001003286529
#strategy = static
#max_htlc_msat_ratio = 0.90

[half_htlc]
chan.max_capacity = 5000000
strategy = static
max_htlc_msat_ratio = 0.50


# rules that were enforced by peer at channel open time
# so adding this rule so we don't try to change it (and fail) every time we run
[ACINQ]
node.id = 03864ef025fde8fb587d989186ce6a4a186895ee44a926bfc370e2c366597a3f8f
strategy = static
max_htlc_msat = 20000000000
[SilentBob]
node.id = 02e9046555a9665145b0dbd7f135744598418df7d61d3660659641886ef1274844
strategy = static
max_htlc_msat = 5000000000

# disable channel when route unlikely to fit most HTLCs (< 30,000 sats)
# to prevent draining channel too much, disable when it gets to 5% or lower
# this also will hopefully catch it before the LND pre-0.18 bug of hitting below-reserve limit and force-closing
#[very-low-local-balance]
#chan.max_local_balance = 30_000
#strategy = disable

# set max htlc on all channels
# default will not trigger if there is no match on a rule
# so this rule allows updating this value and propagating
[max_htlc_all]
chan.min_ratio = 0
strategy = static
max_htlc_msat_ratio = 0.95
