[default]
# no strategy, just defaults
min_htlc_msat = 1000
max_htlc_msat_ratio = 1

[1-Above 99%]
chan.min_ratio = 0.99
strategy = static
max_htlc_msat_ratio = 0.989

[98%-97%]
chan.max_ratio = 0.98
chan.min_ratio = 0.97
strategy = static
max_htlc_msat_ratio = 0.969

[97%-96%]
chan.max_ratio = 0.97
chan.min_ratio = 0.96
strategy = static
max_htlc_msat_ratio = 0.959

[96%-95%]
chan.max_ratio = 0.96
chan.min_ratio = 0.95
strategy = static
max_htlc_msat_ratio = 0.949

[95%-94%]
chan.max_ratio = 0.95
chan.min_ratio = 0.94
strategy = static
max_htlc_msat_ratio = 0.939

[94%-93%]
chan.max_ratio = 0.94
chan.min_ratio = 0.93
strategy = static
max_htlc_msat_ratio = 0.929

[93%-92%]
chan.max_ratio = 0.93
chan.min_ratio = 0.92
strategy = static
max_htlc_msat_ratio = 0.919

[92%-91%]
chan.max_ratio = 0.92
chan.min_ratio = 0.91
strategy = static
max_htlc_msat_ratio = 0.909

[91%-90%]
chan.max_ratio = 0.91
chan.min_ratio = 0.90
strategy = static
max_htlc_msat_ratio = 0.899

[90%-89%]
chan.max_ratio = 0.90
chan.min_ratio = 0.89
strategy = static
max_htlc_msat_ratio = 0.889

[89%-88%]
chan.max_ratio = 0.89
chan.min_ratio = 0.88
strategy = static
max_htlc_msat_ratio = 0.879

[88%-87%]
chan.max_ratio = 0.88
chan.min_ratio = 0.87
strategy = static
max_htlc_msat_ratio = 0.869

[87%-86%]
chan.max_ratio = 0.87
chan.min_ratio = 0.86
strategy = static
max_htlc_msat_ratio = 0.859

[86%-85%]
chan.max_ratio = 0.86
chan.min_ratio = 0.85
strategy = static
max_htlc_msat_ratio = 0.849

[85%-84%]
chan.max_ratio = 0.85
chan.min_ratio = 0.84
strategy = static
max_htlc_msat_ratio = 0.839

[84%-83%]
chan.max_ratio = 0.84
chan.min_ratio = 0.83
strategy = static
max_htlc_msat_ratio = 0.829

[83%-82%]
chan.max_ratio = 0.83
chan.min_ratio = 0.82
strategy = static
max_htlc_msat_ratio = 0.819

[82%-81%]
chan.max_ratio = 0.82
chan.min_ratio = 0.81
strategy = static
max_htlc_msat_ratio = 0.809

[81%-80%]
chan.max_ratio = 0.81
chan.min_ratio = 0.80
strategy = static
max_htlc_msat_ratio = 0.799

[80%-79%]
chan.max_ratio = 0.80
chan.min_ratio = 0.79
strategy = static
max_htlc_msat_ratio = 0.789

[79%-78%]
chan.max_ratio = 0.79
chan.min_ratio = 0.78
strategy = static
max_htlc_msat_ratio = 0.779

[78%-77%]
chan.max_ratio = 0.78
chan.min_ratio = 0.77
strategy = static
max_htlc_msat_ratio = 0.769

[77%-76%]
chan.max_ratio = 0.77
chan.min_ratio = 0.76
strategy = static
max_htlc_msat_ratio = 0.759

[76%-75%]
chan.max_ratio = 0.76
chan.min_ratio = 0.75
strategy = static
max_htlc_msat_ratio = 0.749

[75%-74%]
chan.max_ratio = 0.75
chan.min_ratio = 0.74
strategy = static
max_htlc_msat_ratio = 0.739

[74%-73%]
chan.max_ratio = 0.74
chan.min_ratio = 0.73
strategy = static
max_htlc_msat_ratio = 0.729

[73%-72%]
chan.max_ratio = 0.73
chan.min_ratio = 0.72
strategy = static
max_htlc_msat_ratio = 0.719

[72%-71%]
chan.max_ratio = 0.72
chan.min_ratio = 0.71
strategy = static
max_htlc_msat_ratio = 0.709

[71%-70%]
chan.max_ratio = 0.71
chan.min_ratio = 0.70
strategy = static
max_htlc_msat_ratio = 0.699

[70%-69%]
chan.max_ratio = 0.70
chan.min_ratio = 0.69
strategy = static
max_htlc_msat_ratio = 0.689

[69%-68%]
chan.max_ratio = 0.69
chan.min_ratio = 0.68
strategy = static
max_htlc_msat_ratio = 0.679

[68%-67%]
chan.max_ratio = 0.68
chan.min_ratio = 0.67
strategy = static
max_htlc_msat_ratio = 0.669

[67%-66%]
chan.max_ratio = 0.67
chan.min_ratio = 0.66
strategy = static
max_htlc_msat_ratio = 0.659

[66%-65%]
chan.max_ratio = 0.66
chan.min_ratio = 0.65
strategy = static
max_htlc_msat_ratio = 0.649

[65%-64%]
chan.max_ratio = 0.65
chan.min_ratio = 0.64
strategy = static
max_htlc_msat_ratio = 0.639

[64%-63%]
chan.max_ratio = 0.64
chan.min_ratio = 0.63
strategy = static
max_htlc_msat_ratio = 0.629

[63%-62%]
chan.max_ratio = 0.63
chan.min_ratio = 0.62
strategy = static
max_htlc_msat_ratio = 0.619

[62%-61%]
chan.max_ratio = 0.62
chan.min_ratio = 0.61
strategy = static
max_htlc_msat_ratio = 0.609

[61%-60%]
chan.max_ratio = 0.61
chan.min_ratio = 0.60
strategy = static
max_htlc_msat_ratio = 0.599

[60%-59%]
chan.max_ratio = 0.60
chan.min_ratio = 0.59
strategy = static
max_htlc_msat_ratio = 0.589

[59%-58%]
chan.max_ratio = 0.59
chan.min_ratio = 0.58
strategy = static
max_htlc_msat_ratio = 0.579

[58%-57%]
chan.max_ratio = 0.58
chan.min_ratio = 0.57
strategy = static
max_htlc_msat_ratio = 0.569

[57%-56%]
chan.max_ratio = 0.57
chan.min_ratio = 0.56
strategy = static
max_htlc_msat_ratio = 0.559

[56%-55%]
chan.max_ratio = 0.56
chan.min_ratio = 0.55
strategy = static
max_htlc_msat_ratio = 0.549

[55%-54%]
chan.max_ratio = 0.55
chan.min_ratio = 0.54
strategy = static
max_htlc_msat_ratio = 0.539

[54%-53%]
chan.max_ratio = 0.54
chan.min_ratio = 0.53
strategy = static
max_htlc_msat_ratio = 0.529

[53%-52%]
chan.max_ratio = 0.53
chan.min_ratio = 0.52
strategy = static
max_htlc_msat_ratio = 0.519

[52%-51%]
chan.max_ratio = 0.52
chan.min_ratio = 0.51
strategy = static
max_htlc_msat_ratio = 0.509

[51%-50%]
chan.max_ratio = 0.51
chan.min_ratio = 0.50
strategy = static
max_htlc_msat_ratio = 0.499

[50%-49%]
chan.max_ratio = 0.50
chan.min_ratio = 0.49
strategy = static
max_htlc_msat_ratio = 0.489

[49%-48%]
chan.max_ratio = 0.49
chan.min_ratio = 0.48
strategy = static
max_htlc_msat_ratio = 0.479

[48%-47%]
chan.max_ratio = 0.48
chan.min_ratio = 0.47
strategy = static
max_htlc_msat_ratio = 0.469

[47%-46%]
chan.max_ratio = 0.47
chan.min_ratio = 0.46
strategy = static
max_htlc_msat_ratio = 0.459

[46%-45%]
chan.max_ratio = 0.46
chan.min_ratio = 0.45
strategy = static
max_htlc_msat_ratio = 0.449

[45%-44%]
chan.max_ratio = 0.45
chan.min_ratio = 0.44
strategy = static
max_htlc_msat_ratio = 0.439

[44%-43%]
chan.max_ratio = 0.44
chan.min_ratio = 0.43
strategy = static
max_htlc_msat_ratio = 0.429

[43%-42%]
chan.max_ratio = 0.43
chan.min_ratio = 0.42
strategy = static
max_htlc_msat_ratio = 0.419

[42%-41%]
chan.max_ratio = 0.42
chan.min_ratio = 0.41
strategy = static
max_htlc_msat_ratio = 0.409

[41%-40%]
chan.max_ratio = 0.41
chan.min_ratio = 0.40
strategy = static
max_htlc_msat_ratio = 0.399

[40%-39%]
chan.max_ratio = 0.40
chan.min_ratio = 0.39
strategy = static
max_htlc_msat_ratio = 0.389

[39%-38%]
chan.max_ratio = 0.39
chan.min_ratio = 0.38
strategy = static
max_htlc_msat_ratio = 0.379

[38%-37%]
chan.max_ratio = 0.38
chan.min_ratio = 0.37
strategy = static
max_htlc_msat_ratio = 0.369

[37%-36%]
chan.max_ratio = 0.37
chan.min_ratio = 0.36
strategy = static
max_htlc_msat_ratio = 0.359

[36%-35%]
chan.max_ratio = 0.36
chan.min_ratio = 0.35
strategy = static
max_htlc_msat_ratio = 0.349

[35%-34%]
chan.max_ratio = 0.35
chan.min_ratio = 0.34
strategy = static
max_htlc_msat_ratio = 0.339

[34%-33%]
chan.max_ratio = 0.34
chan.min_ratio = 0.33
strategy = static
max_htlc_msat_ratio = 0.329

[33%-32%]
chan.max_ratio = 0.33
chan.min_ratio = 0.32
strategy = static
max_htlc_msat_ratio = 0.319

[32%-31%]
chan.max_ratio = 0.32
chan.min_ratio = 0.31
strategy = static
max_htlc_msat_ratio = 0.309

[31%-30%]
chan.max_ratio = 0.31
chan.min_ratio = 0.30
strategy = static
max_htlc_msat_ratio = 0.299

[30%-29%]
chan.max_ratio = 0.30
chan.min_ratio = 0.29
strategy = static
max_htlc_msat_ratio = 0.289

[29%-28%]
chan.max_ratio = 0.29
chan.min_ratio = 0.28
strategy = static
max_htlc_msat_ratio = 0.279

[28%-27%]
chan.max_ratio = 0.28
chan.min_ratio = 0.27
strategy = static
max_htlc_msat_ratio = 0.269

[27%-26%]
chan.max_ratio = 0.27
chan.min_ratio = 0.26
strategy = static
max_htlc_msat_ratio = 0.259

[26%-25%]
chan.max_ratio = 0.26
chan.min_ratio = 0.25
strategy = static
max_htlc_msat_ratio = 0.249

[25%-24%]
chan.max_ratio = 0.25
chan.min_ratio = 0.24
strategy = static
max_htlc_msat_ratio = 0.239

[24%-23%]
chan.max_ratio = 0.24
chan.min_ratio = 0.23
strategy = static
max_htlc_msat_ratio = 0.229

[23%-22%]
chan.max_ratio = 0.23
chan.min_ratio = 0.22
strategy = static
max_htlc_msat_ratio = 0.219

[22%-21%]
chan.max_ratio = 0.22
chan.min_ratio = 0.21
strategy = static
max_htlc_msat_ratio = 0.209

[21%-20%]
chan.max_ratio = 0.21
chan.min_ratio = 0.20
strategy = static
max_htlc_msat_ratio = 0.199

[20%-19%]
chan.max_ratio = 0.20
chan.min_ratio = 0.19
strategy = static
max_htlc_msat_ratio = 0.189

[19%-18%]
chan.max_ratio = 0.19
chan.min_ratio = 0.18
strategy = static
max_htlc_msat_ratio = 0.179

[18%-17%]
chan.max_ratio = 0.18
chan.min_ratio = 0.17
strategy = static
max_htlc_msat_ratio = 0.169

[17%-16%]
chan.max_ratio = 0.17
chan.min_ratio = 0.16
strategy = static
max_htlc_msat_ratio = 0.159

[16%-15%]
chan.max_ratio = 0.16
chan.min_ratio = 0.15
strategy = static
max_htlc_msat_ratio = 0.149

[15%-14%]
chan.max_ratio = 0.15
chan.min_ratio = 0.14
strategy = static
max_htlc_msat_ratio = 0.139

[14%-13%]
chan.max_ratio = 0.14
chan.min_ratio = 0.13
strategy = static
max_htlc_msat_ratio = 0.129

[13%-12%]
chan.max_ratio = 0.13
chan.min_ratio = 0.12
strategy = static
max_htlc_msat_ratio = 0.119

[12%-11%]
chan.max_ratio = 0.12
chan.min_ratio = 0.11
strategy = static
max_htlc_msat_ratio = 0.109

[11%-10%]
chan.max_ratio = 0.11
chan.min_ratio = 0.10
strategy = static
max_htlc_msat_ratio = 0.099

[10%-09%]
chan.max_ratio = 0.10
chan.min_ratio = 0.09
strategy = static
max_htlc_msat_ratio = 0.089

[09%-08%]
chan.max_ratio = 0.09
chan.min_ratio = 0.08
strategy = static
max_htlc_msat_ratio = 0.079

[08%-07%]
chan.max_ratio = 0.08
chan.min_ratio = 0.07
strategy = static
max_htlc_msat_ratio = 0.069

[07%-06%]
chan.max_ratio = 0.07
chan.min_ratio = 0.06
strategy = static
max_htlc_msat_ratio = 0.059

[06%-05%]
chan.max_ratio = 0.06
chan.min_ratio = 0.05
strategy = static
max_htlc_msat_ratio = 0.049

[05%-04%]
chan.max_ratio = 0.05
chan.min_ratio = 0.04
strategy = static
max_htlc_msat_ratio = 0.039

[04%-03%]
chan.max_ratio = 0.04
chan.min_ratio = 0.03
strategy = static
max_htlc_msat_ratio = 0.029

[03%-02%]
chan.max_ratio = 0.03
chan.min_ratio = 0.02
strategy = static
max_htlc_msat_ratio = 0.019

[02%-0%]
chan.max_ratio = 0.02
strategy = disable
